In [3]:
#| label: libraries
#| include: false
import pandas as pd
import altair as alt
import numpy as np

from IPython.display import Markdown
from IPython.display import display
from tabulate import tabulate

In [4]:
url = ("https://raw.githubusercontent.com/byuidatascience/data4names/master/data-raw/names_year/names_year.csv")
names = pd.read_csv(url)

In [24]:
from functools import total_ordering


names_table = pd.DataFrame(names)
oliverq = (names
    .query('name == "Oliver"')
    .filter(["UT","Total"])
    .sum()
)


oliverq


names_table = pd.DataFrame(names)
felishaq = (names
    .query('name == "Felisha"')
    .filter(["year","Total"])
)

felishaq

        year  Total
135125  1964   20.0
135126  1965   10.0
135127  1966   25.0
135128  1967   24.0
135129  1968   18.0
135130  1969   32.0
135131  1970   55.0
135132  1971   48.0
135133  1972   81.0
135134  1973   76.0
135135  1974   90.0
135136  1975  103.0
135137  1976  113.0
135138  1977  140.0
135139  1978  105.0
135140  1979  127.0
135141  1980   95.0
135142  1981   90.0
135143  1982  111.0
135144  1983   63.0
135145  1984   93.0
135146  1985  193.0
135147  1986  204.0
135148  1987  215.0
135149  1988  244.0
135150  1989  240.0
135151  1990  223.0
135152  1991  214.0
135153  1992  181.0
135154  1993  164.0
135155  1994  119.0
135156  1995   91.0
135157  1996   76.0
135158  1997   38.0
135159  1998   21.0
135160  1999   22.0
135161  2000   15.0
135162  2001   24.0
135163  2002   15.0
135164  2003    5.0
135165  2004    8.0
135166  2005    5.0
135167  2007    6.0